@media (max-width: 739px) {
  .search-box .search-input {
    width: 100%;
  }
  .search-songs {
    width: 100%;
  }
  .search-box .search-icon {
    right: 15px;
  }
  .dashboard {
    top: 12px;
    width: 94%;
    max-width: 480px;
    left: 50%;
    transform: translateX(-50%);
  }
  header h2 {
    font-size: 1.6rem;
  }
  .playlist {
    margin-top: 456px;
    padding: 20px;
  }
  .song {
    padding: 10px 14px;
  }
}
